.driveOrDeliver{
    text-align: center;
    color: #212121;
    cursor: pointer;
}

.driveOrDeliver:hover{
    color: #616161;
}

.driveOrDeliver:active{
    border-bottom:2px solid black ;
}

.deliveringAnimationButton::before {
  content: "";
  position: absolute;
  width: 52%;
  height: 1px;
  background: #cecdcd;
  bottom: 30px;
  left: 43px;
}
.deliveringAnimationButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #cecdcd;
  bottom: 30px;
  left: 43px;
  transition: 0.4s;
}

.deliveringAnimationButton:hover:after {
  width: 52%;
  background: black;
}

.ownRestaurantButtonAnimation::before {
  content: "";
  position: absolute;
  width: 52%;
  height: 1px;
  background: #cecdcd;
  bottom: 44px;
}
.ownRestaurantButtonAnimation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #cecdcd;
  bottom: 44px;
  transition: 0.4s;
  left: 184px;
}

.ownRestaurantButtonAnimation:hover:after {
  width: 52%;
  background: black;
}


